{% extends 'UdndBundle::layout.html.twig' %}

{% block body -%}
    <h1>Varta creation</h1>

    {{ form(form) }}
    {{ tinymce_init() }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('varta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
